* {
    margin: 0px;
    scroll-behavior: smooth;
}
body {
    background-color: #303991;
    font-family: "Heebo", sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    z-index: 10;
    overflow-x: hidden;
}
.body{
    position: fixed;
    top: 74px;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}
.marco-efecto {
    background: rgb(48,57,145);
    background: linear-gradient(90deg, rgba(48,57,145,1) 0%, rgba(54,65,70,1) 100%);
    background-size: cover;
    padding-bottom: 7%;
    padding-top: 10px;
}
hr {
    color: #999;
    margin-top: 1em;
}
.nav img {
    width: 160px;
    margin-left: 20px;
    position: relative;
    top: 12px;
}
#elintelilogo{
    text-align: left;
    margin-left: 20px;
    font-family: 'Norwester';
    font-weight: 400;
    font-size: 50px;
    position: absolute;
    top: 15px;
}
#inteligameslogo{
    text-align: left;
    margin-left: 20px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 35px;
    position: absolute;
    top: 20px;
}
.inicio {
    height: auto;
    background: url("../Recursos/fondo_low.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8em 0px;
    max-width: 90%;
    margin: auto;
    border-radius: 20px;
}
.fondonegro {
    height: auto;
    background-color: #251e23;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 1%;
    margin-right: 1%;
}

.fondoazul {
    height: auto;
    background: #161a38;
}

.fondoazul .contenido {
    padding-bottom: 2em;
    padding-top: 3em;
}

.titulo {
    letter-spacing: -0.08em;
    clear: left;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 20px;
    padding-top: 10px;
}
.titulo h3 {
    color: #fff;
    font-size: 35px;
    margin: 10px;
}
.fondoazul .titulo {
    background-color: #5779d8;
    margin: 0px;
}
.subtitulo h4 {
    color: #384e8b;
    font-size: 20px;
}
.subtitulo .separador {
    background-color: #384e8b;
}
.separador {
    background-color: #fff;
    margin-top: 0px;
    margin: auto;
    width: 70px;
    height: 0.5px;
    border: 1px solid transparent;
}
span {
    font-weight: 900;
    color: #ddd;
}
.inicio .titulo {
    align-content: center;
    width: 40.625em;
    max-width: 90%;
    margin-left: 10%;
    padding: 0.0625em 0px;
    letter-spacing: 0.04px;
    text-align: left;
}
.inicio .titulo h2 {
    color: #fff;
    font-size: 40px;
    font-family: "Heebo", sans-serif;
    filter: drop-shadow(0px 0px 5px #000a);
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #77f;
}
.label-small {
    font-size: 13px;
}
.inicio .boton{
    filter: drop-shadow(0px 0px 5px #0008);
}
.boton {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0.625em;
}
.boton a {
    padding: 0.3em 3%;
    border-radius: 20px;
    overflow: hidden;
    display: inline;
    text-align: center;
    margin: 0.5em auto;
    margin-bottom: 0px;
    color: #364146;
    background: #fff;
    font-weight: normal;
}
.input-boton {
    color: #999;
    padding: 8px 20px;
    background: transparent;
    border-radius: 5px;
    border: 0.1em solid #999;
    text-align: center;
    font-size: 15px;
    width: 500px;
}
.contenedor-input-file {
    border: 0.1em solid #999;
    padding: 10px;
    width: 500px;
    border-radius: 0.2em;
    margin: auto;
}
.input-file {
    color: #999;
    background: transparent;
    border-radius: 0.2em;
    border: none;
    text-align: center;
    margin: 0.5em auto;
    width: 100%;
    padding: 12px 0px;
    font-size: 17px;
}
.input-boton:hover {
    color: #000;
    background: #ccc;
    border-color: #ccc;
}
.boton a:hover {
    background: #ffffffe9;
}
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: left;
    position: relative;
}
.contacto-icon {
    transition: all 0.3s ease-out;
    color: white;
    font-size: 2.2em;
    padding: 0.2em;
    background: #251e23;
    border-radius: 0.4em;
    margin: 1.25em 0.2em;
}
.contacto-icon:hover {
    box-shadow: 0px 0px 0px 0.1em rgba(216, 218, 213, 0.5);
    transform: translate(0px, -0.3em);
}

.contenido {
    color: #d8dad5;
    text-align: center;
}
.contenido p {
    margin: 15px;
}
.contenido h4 {
    font-size: 25px;
    margin: 20px 10px;
}
.contenido img {
    width: 650px;
    max-width: 80vw;
    vertical-align: middle;
    align-items: center;
}
.dibujos-contenedor {
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}
.dibujo-img-contenedor {
    display: inline;
    overflow: hidden;
}
.dibujo-img {
    min-width: 20%;
    max-width: 100vw;
    width: 300px;
    object-position: center;
    margin: 0px;
}
.dibujo-img:hover {
    box-shadow: #0004 0px 12px 12px 0px;
}
.input {
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    height: 45px;
    padding-left: 10px;
    border: none;
    border-bottom: 1.5px solid #999;
    width: 500px;
    background-color: transparent;
    color: #d8dad5;
}
.input:focus {
    outline: none;
    background-color: #fff3;
}
.textarea {
    font-family: "Heebo", sans-serif;
    width: 500px;
    height: 100px;
    resize: vertical;
    max-height: 300px;
}
ul {
    text-align: left;
    display: inline-block;
}
li {
    margin: 15px;
}
.cuadro-texto {
    background-color: #303991;
    padding: 15px 10px;
    width: 700px;
    max-width: 80vw;
    margin: auto;
    margin-top: 10px;
    border: 3px solid #fff;
    border-image: linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(171, 87, 149) 100%) 1;
}
.cuadro-texto p {
    margin-bottom: 5px;
}

.container-juegos {
    padding: 2%;
}

.boton-play {
    display: inline-block;
    border-radius: 10%;
    width: 210px;
    height: 166px;
    margin: 10px;
}

.boton-play img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.hover-juegos {
    position: absolute;
    width: 210px;
    height: 166px;
    transition: 0.5s ease;
    display: flex;
    align-items: end;
    justify-content: center;
    opacity: 0;
    color: #fff;
    font-weight: bolder;
    border-radius: 10%;
    box-shadow: inset #0008 0px -20px 20px 0px;
    font-size: 17px;
}

.boton-play:hover .hover-juegos {
    opacity: 1;
}

.boton-play:hover {
    box-shadow: #0004 0px 12px 12px 0px;
}

iframe {
    display: none;
    margin: 0px;
    border: none;
}

#boton-fullscreen {
    display: none;
    color: #ccc;
    font-size: 30px;
    width: 100%;
}

.herramientas-juegos {
    display: inline-block;
    background-color: #303991;
    width: 854px;
    margin: 0px;
}

@media screen and (max-width: 950px) {
    .nav img {
        width: 190px;
        top: 15px;
    }	
    .body{
		top: 94px;
	}
}
@media screen and (max-width: 650px) {
    .dibujos-contenedor {
        padding: 2em 0px;
    }
}
@media screen and (max-width: 600px) {
    .dibujo-img {
        width: 48%;
    }
}
@media screen and (max-width: 550px) {
    .input,
    .contenedor-input-file,
    .input-boton {
        width: 90vw;
    }
    .dibujo-img {
        width: 95%;
    }
}
@media screen and (max-width: 300px) {
    .nav img {
        width: 60vw;
    }
}
@font-face {
    font-family: 'Norwester';
    src: url(../Recursos/norwester.otf);
}
