.nav a:first-child i {
	margin-right:10px;
	color:#251e23;
}

.nav {
	clear:left;
	overflow:visible;
	position: fixed;
	top: 0px;
	z-index: 9000;
	padding:7px 0px;
	height:60px;
	width: 100vw;
	background: rgb(48,57,145);
    background: linear-gradient(90deg, rgba(48,57,145,1) 0%, rgba(54,65,70,1) 100%);
	transition: top .3s;
}

.nav a:not(.imgicono) {
	position:relative;
	top: 7px;
}
.alinarderecha {
	position:absolute;
	right:15px;
	top:20px;
}
.nav a {
	font-family:'Yantramanav';
	display:inline;
	text-align:center;
	padding:0.875em 16px;
	text-decoration:none;
	font-size:1.0625em;
	color:white;
	font-weight:400;
	font-family:'Roboto Condensed',sans-serif;
}
.nav a:hover {
	color:black;
	border-radius:2px;
}

.nav .imgicono:hover {
	background-color:transparent;
	border-radius:0px;
	color: #fff;
}
.nav .icon {
	display:none;
}
@media screen and (max-width:950px) {
	.nav .linknav {
		display:none;
	}
	.nav .icon:not(.iconmobilenav) {
		display:inline;
		position:absolute;
		top:30px;
		right:15px;
		background-color:#ccc;
		color:#251e23;
		padding:5px 15px;
		border-radius:2px;
		float:right;
	}

	.nav{
		height:80px;
	}

	.nav.responsive{
		top: 0px !important;
	}

	.nav.responsive .linknav, .nav.responsive .fondo-azul-nav{
		display: block;
		background: rgb(52,63,92);
		background: linear-gradient(90deg, rgba(52,63,92,1) 0%, rgba(54,65,70,1) 100%);
		z-index: 1200;
		font-size: 4vw;
	}

	.nav.responsive .alinarderecha {
		display: grid;
		width: 30%;
		grid-template-rows: 1fr;
		position:absolute;
		top: 85px;
		right: 0px;
	}
	.nav.responsive .fondo-nav{
		background: rgb(52,63,92);
		background: linear-gradient(90deg, rgba(52,63,92,1) 0%, rgba(54,65,70,1) 100%);
		height: 100vh;
	}
}