.nav a:first-child i {
	margin-right:10px;
	color:#251e23;
}

.nav {
	clear:left;
	overflow:visible;
	position: fixed;
	top: 0px;
	z-index: 9000;
	padding:7px 0px;
	height: 125px;
	width: 100vw;
    background: #ddd;
	transition: top .3s;
	text-align: center;
}

.nav a:not(.contenedor-h1) {
	position:relative;
	top: 7px;
	color:#1e1e27;
	border: 1px solid #1e1e27;
	border-radius: 0.7em;
	padding: 0.5em 1em;
}

.nav a {
	font-family:'Yantramanav';
	display:inline;
	text-align:center;
	text-decoration:none;
	font-size:1.1em;
	color:#1e1e27;
	font-weight:400;
	font-family:'Roboto Condensed',sans-serif;
}
.nav .icon {
	display:none;
}
.nav img {
    width: 160px;
    margin-left: 20px;
    position: relative;
    top: 12px;
}
#logotipo-creaciones, #logotipo-games{
    text-align: left;
    margin-left: 20px;
    font-weight: 400;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 15px;
}
#logotipo-creaciones{
    font-family: 'Norwester', 'Impact', sans-serif;
}
#logotipo-games{
    font-family: 'Rubik';
}
.contenedor-h1{
    padding: 0;
}
@media screen and (max-width:950px) {
	.nav{
		text-align: left;
		height: 80px;
	}
	.nav .link-interno-nav {
		display:none;
	}
	.nav .icon:not(.icono-menu) {
		display:inline;
		position:absolute;
		top:15px;
		right:15px;
		background-color:#1e1e27;
		color:#eee;
		padding:5px 15px;
		border-radius:2px;
		float:right;
	}

	.nav.responsive .link-interno-nav, .nav.responsive .fondo-azul-nav{
		display: block;
		background: #ddd;
		z-index: 1200;
		font-size: 4vw;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid #1e1e27;
	}
	.nav.responsive .link-interno-nav:first-child{
		border-top: 2px solid #1e1e27;
	}

	.nav.responsive .alinarderecha {
		display: grid;
		width: 30%;
		grid-template-rows: 1fr;
		position:absolute;
		top: 87px;
		right: 0px;
	}
	.nav.responsive .fondo-nav{
		background: #ddd;
		height: 100vh;
	}
}