.nav a:first-child i {
	margin-right:10px;
	color:#251e23;
}

.nav {
	clear:left;
	overflow:visible;
	position: fixed;
	top: 0px;
	z-index: 9000;
	padding:7px 0px;
	height: 125px;
	width: 100vw;
    background: #fff;
	text-align: center;
	box-shadow: 0 0 10px #0007;
	margin: 0;
	transition: top .4s;
}

.nav a {
	position:relative;
	top: 7px;
	padding: 12px;
	display:inline;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	color:#1e1e27;
	font-weight:400;
	font-family:"Heebo", sans-serif;
}
.nav .icon {
	display:none;
}
.nav img {
    width: 160px;
    margin-left: 20px;
    position: relative;
    top: 12px;
}
#logotipo-creaciones, #logotipo-games{
    text-align: left;
    margin-left: 20px;
    font-weight: 400;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 15px;
}
#logotipo-creaciones{
    font-family: 'Norwester', 'Impact', sans-serif;
	background-color: #1e1e27;
	color: #fff;
	padding: 10px;
}
#logotipo-games{    
	font-family: 'Rubik', 'Impact', sans-serif;
	background-color: #1e1e27;
	color: #fff;
	padding: 10px;
}
.nav .contenedor-h1{
    padding: 0;	
	position:static;
}
@media screen and (max-width:950px) {
	.nav{
		text-align: left;
		height: 80px;
	}
	.nav .link-interno-nav {
		display:none;
	}
	.nav .icon {
		display:inline;
		position:absolute;
		top:10px;
		right:15px;
		color:#1e1e27;
		float:right;
		font-size: 30px;
	}

	.nav.responsive .link-interno-nav {
		display: block;
		background: #efefef;
		z-index: 1200;
		font-size: 6vw;
		border-radius: 0;
		border: none;
		padding: 20px 0;
	}

	.nav.responsive .alinarderecha {
		background: #efefef;
		display: grid;
		width: 80%;
		grid-template-rows: 1fr;
		position:absolute;
		top: 94px;
		right: 0;
		box-shadow: -80vw 0 0 #0007;
		animation: entrarResponsiveNav .5s 1;
	}
	@keyframes entrarResponsiveNav {
		0% {
			right: -60vw;
		}
		100% {
			right: 0;
		}
	}
	.nav.responsive .fondo-nav{
		background: #fff;
		height: 100vh;
	}
}