/* PONER EN EL CSS DE DONDE SE APLIQUE
:root {
  --width: 400px;
  --height: 44px;
  --width__small: 300px;
  --width__large: 600px;
  }*/
  

.inputconefecto, .inputconefecto__small, .inputconefecto__large{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
height: var(--height);
padding-left: 10px;
border: 1px solid #999;
}

.inputconefecto{
    width: var(--width);
    background-color: #212121;
    color:#d8dad5;
    }

.inputconefecto__small{
    width: var(--width__small);
    background-color: #212121;
    color: #d8dad5;
    }

.inputconefecto__large{
    width: var(--width__large);
    background-color: #212121;
    color: #d8dad5;
    }

.labelconefecto, .labelconefecto__small, .labelconefecto__large{
    position: absolute;
    transition: transform .3s ease-out, font-size .3s ease-out;
    color: #747474;
    background: none;
    padding: 0px;
    font-size: 12px;
    background: #212121;
    padding: 5px;
}

.labelconefecto{
    white-space: nowrap;
    transform: translate(calc(var(--width) * -1), calc(var(--height) / 5));
}

.labelconefecto__small{
    white-space: nowrap;
    transform: translate(calc(var(--width__small) * -1), calc(var(--height) / 5));
}

.labelconefecto__large{
    white-space: nowrap;
    transform: translate(calc(var(--width__large) * -1), calc(var(--height) / 5));
}

.inputconefecto:focus, .inputconefecto__small:focus, .inputconefecto__large:focus{
outline: none;
border-width: 2px;
border-style: solid;
border-color: #d8dad5;
}

.textarea{
    width:40% ;
    height: 100px;
    resize:none;
}


.inputconefecto:focus + .labelconefecto, .inputconefecto__small:focus + .labelconefecto__small, .inputconefecto__large:focus + .labelconefecto__large{
    color: #d8dad5;
}

.inputconefecto:focus + .labelconefecto, .inputconefecto:not(:placeholder-shown) + .labelconefecto{
    font-size: 8px;
    transform: translate(calc(var(--width) * -1), calc(var(--height)  / -3.5));
}

.inputconefecto__small:focus + .labelconefecto__small, .inputconefecto__small:not(:placeholder-shown) + .labelconefecto__small{
    font-size: 8px;
    transform: translate(calc(var(--width__small) * -1), calc(var(--height)  / -3.5));
}

.inputconefecto__large:focus + .labelconefecto__large, .inputconefecto__large:not(:placeholder-shown) + .labelconefecto__large{
    font-size: 9px;
    border-radius: 10%;
    transform: translate(calc(var(--width__large) * -1), calc(var(--height)  / -3.5));
}










