.nav a:first-child i{
margin-right: 10px;
color: #251e23;
}

.nav {
  clear: left;
  overflow: visible;
  background-color: #283293;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 7px 0px;
  height: 80px;
}

.nav a:not(.imgicono){
position: relative;
top: 17px;
}

.alinarderecha{
position: absolute;
right: 15px;
top: 20px;
}

.nav a{
  font-family: 'Yantramanav';
  display: inline;
  text-align: center;
  padding: 0.875em 16px;
  text-decoration: none;
  font-size: 1.0625em;
  color: white;
  font-weight: 400;
  transition: .3s;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav a:hover {
  color: black;
  border-radius: 2px;
}

.nav .imgicono:hover{
  background-color: transparent;
  border-radius: 0px;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .nav .linknav{
    display: none;
  }

  .nav .icon:not(.iconmobilenav) {
    display: inline;
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #ccc;
    color: #251e23;
    padding: 5px 15px;
    border-radius: 2px;
    float: right;
  }
}

@media screen and (max-width: 950px) {
  .nav.responsive .linknav {
    display: block;
    text-align: left;
    position: static;
    background-color: #232788;
    width: calc(100vw - 16px);
    padding-right: 0px;
  }
  .nav.responsive .alinarderecha{
    position: absolute;
    top: 93px;
    left: 0px;
    }

}
