.nav a:first-child i{
margin-right: 10px;
color: #251e23;
}

.nav {
  clear: left;
  overflow: hidden;
  background-color: #283293;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 7px 0px;
  height: 80px;
}

.nav a:not(.imgicono){
position: relative;
top: 17px;
}

.alinarderecha{
position: absolute;
right: 15px;
}

.nav a{
  font-family: 'Yantramanav';
  float: left;
  display: block;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  font-size: 1.0625em;
  color: white;
  font-weight: 400;
  transition: .3s;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav a:hover {
  color: black;
  border-radius: 2px;
}

.nav .imgicono:hover{
  background-color: transparent;
  border-radius: 0px;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .nav a:not(.imgicono) {
    display: none;
  }
  .nav a.icon {
    display: inline;
    position: absolute;
    top: 41px;
    right: 15px;
    background-color: #ccc;
    color: #251e23;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 950px) {

  .nav.responsive .icon {
    position: absolute;
    top: 41px;
    right: 15px;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive a:last-child{
    padding-bottom: 40px;
  }

  .nav .responsive img{
    width: 200px;
    margin-left: 50px;
    }
}
