body{
background-color: #3f1d84;
font-family: sans-serif;
font-size: 16px;
box-sizing: border-box;
}

.header{
font-family: 'Yantramanav', sans-serif;
 background-color: #d8dad5;
}

.inicio{
height: auto;
background: url('Recursos/fondo.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.fondonegro{
height: auto;
background-color: #212121
}

.titulo{
letter-spacing: -2.5px;
clear: left;
text-align: center;
}

.fondonegro .titulo b{
font-family: 'Rubik';
color: #d8dad5;
font-size: 1.6em;
background-color: #3f1d84;
}

.inicio .titulo{
background-color: #d8dad5;
align-content: center;
width: 40.625em;
max-width: 70%;
margin: auto;
}

.inicio .titulo b{
font-family: 'Rubik';
color: #3f1d84;
font-size: 1.6em;
background-color: #d8dad5;
}

a{
text-decoration: none;
color: black;
}

.boton a:hover{
color: white;
background-color: #3f1d84;
border: 0.1em solid white
}

.boton{
text-align: center;
}

.boton a{
color: #3f1d84;
padding: 0.3em 1%;
background-color: white;
border-radius: 0.2em;
border: 0.1em solid white
}

.contacto{
display: flex;
justify-content: center;
align-items: center;
clear: left;
}

.contacto img{
transition:all 0.5s ease-out;
height: 3em;
margin-top: 1.8em;
margin-bottom: 0.6em;
}

.contacto img:hover{
box-shadow: 0px 0.06em 0.06em 0.06em rgba(0, 0, 0, 0.1);
transform:translate(0px, -0.6em)
}

.contenido{
color: #d8dad5;
font-family: 'Yantramanav';
text-align: center;
}

.contenido img{
width: 30em;
max-width:100%;
vertical-align: middle;
align-items: center;
}

.dibujo{
width: 33%;
margin-right: 0.333333333%;
padding: 0px;
}
