.header img{
float: left;
width: 12.5em;
padding: 0.625em;
background-color: #d8dad5;
}

.header{
height: 4.5em;
}

.topnav a:first-child i{
margin-right: 10px;
color: #212121;
}

.topnav {
  clear: left;
  overflow: hidden;
  background-color: #d8dad5;
}

.topnav a {
  font-family: 'Yantramanav';
  float: left;
  display: block;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  font-size: 1.0625em;
  color: black;
  font-weight: 300;
  transition: .3s;
}

.topnav a:hover {
  color: black;
  background-color: #8c8d8a;
}

.topnav a.active {
   text-decoration: underline;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 45em) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 45em) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
