body{
background-color: #3f1d84;
font-family: arial;
font-size: 1em;
box-sizing: border-box;
}

hr{
color: #d8dad5;
margin-top: 1em;
}

.header{
font-family: 'Yantramanav', sans-serif;
 background-color: #d8dad5;
}

.inicio{
height: auto;
background: url('Recursos/fondo.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
padding-top: 1em;
padding-bottom: 5em;
}

.fondonegro{
height: auto;
background-color: #212121;
padding-bottom: 2em;
padding-top: 1em;
}

.titulo{
font-family: 'Yantramanav', sans-serif;
letter-spacing: -0.08em;
clear: left;
text-align: center;
font-weight: 500;
border-radius: 1.25em;
}

.titulo span{
color: #212121;
background: #fdd33d;
}

.fondonegro .titulo b{
color: #d8dad5;
font-size: 1.6em;
background-color: #3f1d84;
}

.inicio .titulo{
background-color: #d8dad5;
align-content: center;
width: 40.625em;
max-width: 90%;
margin: auto;
padding: 0.0625em 0px;
}

.inicio .titulo b{
color: #3f1d84;
font-size: 1.6em;
background-color: #d8dad5;
}

a{
text-decoration: none;
color: black;
}

.boton{
text-align: center;
margin: auto;
padding-top: 1em;
padding-bottom: 0.625em;
}

.boton a{
color: #3f1d84;
padding: 0.3em 1%;
background: white;
border-radius: 0.2em;
border: 0.1em solid white;
transition: all .7s;
overflow: hidden;
display: block;
text-align: center;
width: 25em;
margin: 0.5em auto;
margin-bottom: 0px;
max-width: 90%;
}

.boton a:hover{
color: white;
background: #3f1d84;
border-color:white
}

.contacto{
display: flex;
justify-content: right;
align-items: right;
clear: left;
}

.contacto__icon{
transition:all .3s ease-out;
color: white;
font-size: 2.2em;
padding: 0.2em;
background: black;
border-radius: 0.4em;
margin: 1.25em 0.2em;
}

.contacto__icon:hover{
box-shadow: 0px 0px 0px 0.1em rgba(216, 218, 213, 0.5);

transform:translate(0px, -0.3em)
}

.contenido{
color: #d8dad5;
font-family: 'Yantramanav';
text-align: center;
}

.contenido p{
margin-bottom: 3em;
}

.contenido .nomargin{
margin-bottom: 0em;
}

.contenido img{
width: 30em;
max-width:100%;
vertical-align: middle;
align-items: center;
}

.dibujos{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(19.5em, 1fr));
grid-template-rows: repeat(auto-fill, 19.5em);
background: #212121;
height: auto;
padding-bottom: 2em;
}

.dibujo__img-container{
height: 19.5em;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

.dibujo__img{
width: 19.5em;
object-fit: cover;
vertical-align: middle;
}
