*{
    margin: 0px;
    padding: 0px;
    font-family: 'Paytone One', sans-serif;
}

body{
    background: #6BA7BC;
    background-size: 300vw;
    background-repeat: repeat;
    text-align: center;
    overflow: hidden;

}

.input{
    width: 60%;
    font-size: 200%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    text-align: left;
    margin: 10vh auto;
}

.inteli{
    width: 46.5vh;
    height: 70vh;
    background-image: url("../img/inteli.png");
    background-size: 100%;
    margin: auto;
    margin-top: 5vh;
}

.enviar{
    background-color: #3f5efb;
    font-size: 200%;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}
  
@media screen and (max-width: 570px){
    .inteli{
        width: 80vw;
        height: 120.5vw;
    }
    .input{
        font-size: 8vw;
        width: 60%;
        margin: 5px;
        margin-top: 5vh;
    }
}
